<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fun Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style_home.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <header>
            <h1>Fun_Game</h1>
        </header>
    <div id="player-modal">
        <form id="player-form" action="/create_player" method="post">
            <label>
                <input type="text" name="input_username" placeholder="Enter player name">
            </label>
            <input type="submit" value="START GAME">
        </form>
    </div>

        <a href="game.html">
        </a>
        <footer>
            Developed by: Mohamed, Jeferson, Andrea, Immi
        </footer>
      <script src="../static/js/script.js"></script>
    </div>
</body>
</html>