@font-face {
    font-family: 'VT323';
    src: url("VT323-Regular.ttf") format("truetype");
}

html {
    font-family: VT323;
}

body {
    background-image: url("../img/background.webp");
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    margin: auto;
}

h1 {
    font-weight: normal;
    font-size: 10rem;
}

input[type=text] {
    font-family: VT323;
    font-size: 2rem;
    width: 20%;
    padding: 12px 20px;
    margin: 50px;
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
}

input[type=submit] {
    width: 5%;
    margin: 0;
    font-family: VT323;
    font-size: 2rem;
    padding: 12px 20px;
    color: white;
    background-color: #6784a6;
}

button {
    font-size: 6rem;
    font-family: VT323;
    width: 30%;
    color: #1e284f;
    background: #c5dde6;

}

footer {
    font-weight: normal;
    font-size: 2rem;
    bottom: 35px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    width: 100%;
}