<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fun Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style_home.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <header>
            <h1>Fun_Game</h1>
        </header>
        <form action="#">
            <label>
                <input type="text" name="player_name" placeholder="Enter player name">
            </label>
            <input type="submit" value="OK">
        </form>
        <a href="game.html">
            <button>START GAME</button>
        </a>
        <footer>
            Developed by: Mohamed, Jeferson, Andrea, Immi
        </footer>
      <script src="../static/script.js"></script>
    </div>
</body>
</html>